---
const { name, image, link } = Astro.props;
let isGpt = name === 'ChatGPT' 
let padding = isGpt ? 'p-8' : 'p-2'
---

<a href={link} class="flex flex-col items-center space-y-2 w-48 hover:scale-105 transition">
    <img src={image} alt={name} class={`${padding} rounded-full border-2 border-gray-800 shadow-md`} />
    <p class="text-lg font-semibold">{name}</p>
</a>

